--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn[standard]
gunicorn
pydantic-settings
Pillow
supabase
python-multipart
opencv-python-headless
PyWavelets
invisible-watermark
numpy
python-dotenv
arq
redis
playwright

